@model Survey;

@{
    ViewData["Title"] = "Survey";
}

<h1>Survey</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Survey" asp-controller="Home" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 0; i < Model.Questions.Count; i++)
            {
                <div class="form-group">
                    <label asp-for="Questions[i]" class="control-label">@Model.Questions[i]</label>
                    <input asp-for="Questions[i]" class="form-control" />
                    <span asp-validation-for="Questions[i]" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input class="submitButton" type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }


