@model HomeModel;
@{
    Layout = "RS Layout";
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <br />
    <p>Time since last visit: <span>{@Model.time.ToString()}</span></p>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
